*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5d3e0;
    color: #b79460;
}
.logo{
    font-size: 1.8rem;
}
.logo span{
    color: #ef7889;
    font-weight: 700;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #b79460;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
.nav ul  li a:hover{
border-bottom: 3px solid #ef7889;
}
.btn{
    background-color: #ef7889;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px ;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #b79460;
    border: 2px solid #ef7889;    
}