body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: rgb(243, 221, 243); }
header { background-color: #333; color: white; text-align: center; padding: 1rem; }
nav { background-color: rgb(92, 4, 92); padding: 0.5rem; }
nav ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: center; }
nav li { margin: 0 1rem; text-decoration: none; color: black; text-transform: capitalize; }
nav a { color: purple; text-decoration: none; border: lavender; }
main { padding: 2rem; }
.book { border: 1px solid plum; margin: 1rem 0; padding: 1rem; background-color: white; }
footer { background-color: #333; color: white; text-align: center; padding: 1rem; margin-top: 2rem; }
.titulo{
    font-family: fantasy;
}
span{
font-weight: 800;
color: rgb(156, 96, 216);
}
.subtitulo{
    font-family: cursive;
}
.butao{
    background-color: greenyellow;
    color: black;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    text-decoration: none;
}