.container{
    display: flex;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
div{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box1{
    background-color: blueviolet;
}
.box2{
    background-color: cornflowerblue;
}
.box3{
    background-color: crimson;
}