.container01,.container02,.container03,.container04{
    flex-direction: row;
    display: flex;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
.container02{
    flex-direction: row-reverse;

}
.container03{
    flex-direction: column;

}
.container04{
    flex-direction: column-reverse;

}

div{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box1{
    background-color: blueviolet;
}
.box2{
    background-color: cornflowerblue;
}
.box3{
    background-color: crimson;
}